* {
  margin: 0;
  box-sizing: border-box;
}


.total-type-card {
  position: relative;
  width: 254px;
  height: 120px;
  border-radius: 10px;
  border-width: 3px;
  border-color: #000;
}

.total-header {
  padding: 0 10px;
}

.total-title {
  font-size: 16px;
}

.total-amount {
  font-size: 32px;
  text-align: center;
  position: relative;
  top: 15px;
}
