.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding-right: 10px;
  gap: 15px;

  .btn-group {
    align-self: end;

    .btn {
      font-size: 20px;
      font-weight: bold;
    }

    .add-report {
      color: #287D3C !important
    }
  }

  .btn-group {
    display: flex;
    align-items: center;
    gap: 10px;

    .icon-btn {
      text-align: center;
      font-size: 20px;
      cursor: pointer;
      color: black !important
    }
  }
}



