.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 732px;
  width: 522px;
  gap: 20px;
  //overflow-y: hidden;
  .header {
    padding: 10px;
    align-self: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  ::ng-deep {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }

    .mat-mdc-text-field-wrapper {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  span {
    font-size: 12px;
    padding-bottom: 10px;
    color: red;
  }

  .date-icon {
    position: absolute;
    right: 0;
    top: 5px;
  }
}


.mdc-floating-label--required:not(.mdc-floating-label--hide-required-marker)::after {
  color: red
}


.form-container {
  display: flex;
  flex-direction: column;
  align-self: center;

  textarea {
    height: 100px;
    resize: none;
  }
}


.important {
  color: red;
}

.btn-group {
  margin-top: 20px;
}

.btn {
  font-size: 12px;
  border-radius: 8px;
  height: 45px;
  width: 180px;
  transition: 0.5s;
  margin-right: 20px;
}

.btn.disabled {
  background-color: grey !important;
}
