.container {
  display: flex;
  flex-direction: column;
  height: 732px;
  width: 522px;
  gap: 20px;
  //overflow-y: hidden;
  .header {
    padding: 10px;
    align-self: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}


.form-container {
  display: flex;
  flex-direction: column;
  align-self: center;

  textarea {
    height: 100px;
    resize: none;
  }
}


.important {
  color: red;
}

.btn-group {
}

.btn {
  font-size: 12px;
  border-radius: 8px;
  height: 45px;
  width: 180px;
  transition: 0.5s;
  margin-right: 20px;
}
