#dashboard-container {
  display: grid;
  grid-template-columns: 20% 1fr;
  height: 100vh;
  padding: 10px;

  .left {
    display: grid;

    .btn {
      width: 150px;
      align-self: end;
      justify-self: center;
      margin-bottom: 100px;
    }
  }

  .dropdown {
    padding: 10px 0;

    mat-form-field {
      width: 400px;
    }
  }
}


.section-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
  gap: 34px;
  margin-bottom: 10px;
}

.loader {
  ::ng-deep .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: black !important;
  }
}
