<div id="dashboard-container">
  <div class="left"></div>
  <div class="middle">
    <h3>Select Summary</h3>
    <div class="dropdown">
      <mat-form-field>
        <mat-label>Select Period</mat-label>
        <mat-select [(value)]="selectedPeriod" [formControl]="filterControl">
          @for (option of periodValues; track option) {
            <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <h3>
      Summary : {{ selectedPeriod }}
    </h3>
    <div class="section-container">
      @if (!dashboardSections || dashboardSections.length === 0) {
        <mat-spinner class="loader"></mat-spinner>
      } @else {
        @for (section of dashboardSections; track section) {
          <app-summary-card
            [title]="section.displayName"
            [amount]="section.amount"
          ></app-summary-card>
        }
      }
    </div>
    <div class="table">table</div>
  </div>
  <div class="right">
  </div>
</div>



