/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Roboto, sans-serif;
}


.btn-primary {
  background-color: black !important;
  color: white !important;
  cursor: pointer;
}

.btn-cancel {
  background-color: white !important;
  color: black !important;
  border: none;
  cursor: pointer;
}
