.dialog-container {
  text-align: center;
  padding: 32px 24px;
  border-radius: 10px;
}

.title {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 24px;
}

.btn {
  font-size: 12px;
  border-radius: 8px;
  height: 45px;
  width: 180px;
  transition: 0.5s;
  margin-right: 20px;
}

.report-name {
  font-size: 24px;
  font-weight: 600;
  margin: 30px 0 30px 0;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.btn-primary {
  background: #dc2121 !important;
  color: #fff !important;
}
